# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries
- List development environment open source tools

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

### Some of the commly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. PyTorch

| Data Science Tools |
|----------------------|
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

### This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [7]:
200 / 60

3.3333333333333335

## Author
Eason